header nav li {
    color: green;
}

footer nav ul li {
    color: red
}

@media(max-width: 600px) {
    footer nav ul li {
        color: green;
    }
}

/* header .dani {
    background-color: black;
}

footer .dani {
    background-color: burlywood;
} */

/* pseudoselector */

header nav ul li:last-child, header p {
    background-color: black;
}

footer nav ul li:last-child {
    background-color: burlywood;
}

section>h2 {
    color: red;
}

/* existe un p que tiene la clase texto */

p.texto {
    color: tomato;
    text-shadow: 1px 1px 10px black;
}

/* HERENCIA existe un p que dentro de el tiene un elemento cualquiera con la clase texto */

p .texto {
    color: tomato;
    text-shadow: 1px 1px 10px black;
}

.tomato {
    background-color: tomato;
}